#mobile-warning
{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--xl-color);
  color: white;
  flex-direction: column;
  text-align: center;
  padding: 0 3rem;
  line-height: 1.5rem;
}

#mobile-warning p:last-of-type
{
  align-self: flex-start;
}